
header{
    display: flex;
    justify-content: space-between;
}
header nav {
    margin-right: 20px;
}

header nav li{
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.info {
    display: flex;

}
.info .sidebar {
    margin: 35px;
}
.info .sidebar p{
    text-align: center;
}
.info .sidebar li{
    
    text-align: left;
}
footer {
    text-align: center;
}
footer a{
    margin: 15px;
}
